#abc
{
height:50px;
width:20%;
color=yellow;
float:right;
}

#qwe
{
float:left;
}

#xyz
{
float:right;
}

.asd
{
float:left;
}

.zxc
{
float:left;
}

#edu
{
float:left;
}

#health
{
float:right;
}

#food
{
float:left;
}